.main-home{
  overflow: hidden;
  font-family: 'Aboreto', cursive;
}
.carousel{
  width: 100vw;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  background-color: black;
}
.Carousel-container{
  /* opacity: .5; */
  /* height: 100vh; */
  width: 100vw;
  position: relative;
  object-fit: contain;
  background-color: black;
}
.carousel img{
  background-color: black;
  opacity: .3;
  height: 100vh;
}
.carousel p{
  height: 40vh;
  text-align: center;
  justify-content: center;
}
.about-container{
  text-align: center;
  padding: 4rem;
  margin: 2rem 0;
}
.about-text p{
  margin-top: 2rem;
  word-spacing: 1px;
  line-height: 35px;
}
.about-container Button{
  width: 15rem;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 4rem;
}
.about-container button:hover{
  box-shadow: 10px 5px 5px rgb(211, 210, 210);
}
.news-container{
  text-align: center;
  padding: 2rem 0;
  text-align: right;
  background-color: rgb(255, 255, 255);
}
.news-container h1{
  text-align: center;
}
.news-cards{
  /* background-color: blue; */
}
.news-card-content{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin: 3rem .5rem;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  transition: .5s;
  box-shadow: 10px 5px 5px rgb(211, 210, 210);
}
.news-card-content:hover{
  box-shadow: 10px 5px 5px rgb(119, 118, 118);
}
.news-card-content img{
  width: 80%;
  overflow: hidden;
}
.news-card-content h4{
  margin-top: 2rem;
}
.news-card-content p{
  margin-top: 1rem;
}
.news-card-content Button{
  width: 10rem;
  padding: 1rem;
  border-radius: 2rem;
}
.park-page{
  overflow: hidden;
  max-height: 45rem;
}
.park-page h1{
  text-align: center;
  padding: 2rem;
}
.parks-card-content{
  display: flex;
  height: 50%;
  margin-top: 2rem;
  padding-left: 3rem;
  border-radius: 2rem;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 5px 5px rgb(211, 210, 210);
}
.parks-card-content img{
  width: 100%;
  height: 30rem;
  transition: .5s;
  overflow: hidden;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.park-page h3{
  text-align: center;
  margin:0.5rem 1rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
  border-radius: 2rem;
  transition: 1s;
}
.park-page p{
  text-align: center;
  padding: 2rem;
  color: rgb(0, 0, 0);
}
.park-page Button{
  width: 15rem;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 4rem;
  align-items: center;
}
.park-filler-main{
  background-color: black;
}
.park-filler-image{
  width: 100vw;
  height: 50vh;
  position: relative;
  display: inline-block;
}
.park-filler-image::before{
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.park-filler-image h1{
  top: 50%;
  left: 50%;
  position: absolute;
  color: white;
  font-size: 70px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}
.school-main{
  margin: 5rem 2rem;
  padding: 1rem;
}
.school-page-container{
  display: flex;
  overflow: hidden;
  max-width: 100vw;
  flex-direction: row;
  align-items: center;
}
.school-main h1{
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}
.school-details Button{
  width: 15rem;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 4rem;
}
.school-image{
  overflow: hidden;
  object-fit: fill;
  max-width: 45vw;
  margin: 2rem;
}
.school-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  float: right;
  overflow: hidden;
  margin: 3rem;
  padding: 3rem;
  border-radius: 4rem;
  text-align: center;
  box-shadow: 10px 5px 5px rgb(211, 210, 210);
}
.filler-image-main{
  color: white;
  background-color: rgb(0, 0, 0);
}
.filler-image{
  width: 100vw;
  height: 50vh;
  position: relative;
  display: inline-block;
}
.filler-image::before{
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.filler-image img{
  width: 100%;
  height: 70vh;
  
}
.filler-image h1{
  top: 50%;
  left: 50%;
  color: white;
  font-size: 60px;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
}
.accomodation-page h1{
  text-align: center;
  padding-top: 5rem;
}
footer a{
  text-decoration: none;
}

/* <----- Media Queries -----> */

@media (max-width: 900px) {
  .school-main{
    margin: 0rem;
    padding: 0rem;
  }
  .school-page-container{
    display: flex;
    margin: 0rem;
    flex-direction: column;
  }
  .school-image{
    max-width: 100%;
    margin: 0rem;
  }
  .school-details{
    width: 100%;
    border-radius: 0rem;
  }
}

@media (max-width: 768px) {
  .school-main{
    margin: 0rem;
    padding: 0rem;
  }
  .school-page-container{
    display: flex;
    margin: 0rem;
    flex-direction: column;
  }
  .school-image{
    max-width: 100%;
    margin: 0rem;
  }
  .school-details{
    width: 100%;
    border-radius: 0rem;
  }
}
@media (max-width: 768px) {
  .school-main{
    margin: 0rem;
    padding: 0rem;
  }
  .school-page-container{
    display: flex;
    margin: 0rem;
    flex-direction: column;
  }
  .school-image{
    max-width: 100%;
    margin: 0rem;
  }
  .school-details{
    width: 100%;
    border-radius: 0rem;
  }
  .filler-image h1{
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .school-main{
    margin: 0rem;
    padding: 0rem;
  }
  .school-page-container{
    display: flex;
    margin: 0rem;
    flex-direction: column;
  }
  .school-image{
    max-width: 100%;
    margin: 0rem;
    background-color: blue;
  }
  .school-details{
    width: 100%;
    border-radius: 0rem;
  }
  .filler-image h1{
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .school-main{
    margin: 0rem;
    padding: 0rem;
  }
  .school-page-container{
    display: flex;
    margin: 0rem;
    flex-direction: column;
  }
  .school-image{
    max-width: 100%;
    margin: 0rem;
    background-color: blue;
  }
  .school-details{
    width: 100%;
    border-radius: 0rem;
  }
  .filler-image h1{
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width:375px) {
  .school-main{
    margin: 0rem;
    padding: 0rem;
  }
  .school-page-container{
    display: flex;
    margin: 0rem;
    flex-direction: column;
  }
  .school-image{
    max-width: 100%;
    margin: 0rem;
    background-color: blue;
  }
  .school-details{
    width: 100%;
    border-radius: 0rem;
  }
  .filler-image h1{
    font-size: 40px;
    text-align: center;
  }
}
